
*{
    box-sizing: border-box;
    /* чтобы паддинги не влияли на внешние элементы */
    /* font-family: 'Open Sans', sans-serif; */
}
a{
    text-decoration: none;
    /* отключил подчеркивание ссылок */
}
ul{
    margin:0;
    padding:0;
    /* отключи все отступы у списков */
    list-style: none;
    /* отключил маркеры у списков */
}
img{
    max-width: 100%;
    /* чтобы картинки не вылезали за размер родителей */
}
html{
    /* подключили шрифт без засечек */
    font-family: 'Open Sans', sans-serif;
}
.container{
    /* max-width: 1170px; */
    /* ограничили общую ширину */
    max-width: 1200px;
    /* ограничили общую ширину с учетом паддингов 15px с двух сторон */
    margin-right: auto;
    margin-left: auto;
    /* расположили контейнеры по центру */
    padding-left: 15px;
    padding-right: 15px;
    /* чтобы были отступы у элементов и не прижимались к краям экрана */
 }
 .btn{
    display: inline-block;
    /* чтобы не перекрывать другой текст */
    padding: 15px 30px;
    font-size:16px;
    font-weight: 600;
    line-height: 1;
    /* высота строки равна размеру шрифта? */
    text-transform: uppercase;
    color:white;
    background-color: #3172b9;
    border-radius: 4px;
    /* для скругления краёв кнопки */
    transition: background-color .3s ease;
    /* для плавного перехода */
    cursor:pointer;
    /* чтобы работало как кнопка(изменяется курсор) */
 }
 .btn:hover{
    background-color: blue;
 }

 .btn .btn-big{
    padding: 20px 60px; 
 }
 .text-center{
    text-align: center;
    /* центруем текст по вертикали */
 }
 .section-heading{
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 300;
    color: #414141;
 }


 /* HEADER */

 .header{
    height: 110px;
    /* задал высоту хедера */
    border-bottom: 1px solid #e4e4e4;
 }
 .header-container{
    display:flex;
    /* выстраиваем элементы в одну строку */
    align-items: center;
    /* для центрирования по вертикали */ 
    justify-content: space-between;
    /* для пространства между элементами */
    height: 100%;
    /* для центрирования элементов по высоте весго контейнера */
 }
 .logo{
    margin-right: auto;
 }
 .nav{
    display:flex;
 }
 .nav-list{
    display:flex;
    /* делаем список навигации строкой */
}
.nav-item:not(:last-child) {
/* для всех элементов списка, кроме последнего */
    margin-right: 50px;
    /* для всех пунктов списка отступ справа */
}
.nav-item{
    font-size: 15px;
    line-height: 1;
}
.nav-link{
    flex: 15px;
    line-height: 1;
    font-weight: 600;
    color: #1c1c1c;
    transition: color .3s ease;

}
.nav-link:hover{
    color:#3172b9
}

.header-btn{
    margin-left: 40px;
    /* марджин, чтобы если убрать кнопку, навигация прижалась к правому краю */
}

/* HERO */
.section-hero{
    background: url('../img/hero.jpg') right center no-repeat white;
    background-size: contain;
     /* чтобы картинка целиком помещалась в блок */
}
.section-hero__container{
    padding-top: 120px;
    padding-bottom: 130px;
}
.section-hero__content{
    max-width: 50%;
    /* чтобы контент занимал не больше 50% от родителя */
}
.section-hero__heading{
    margin-top: 0;
    margin-bottom: 33px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    color: #1c1c1c;
}
.section-hero__description{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    color:#787878 
}
.section-hero__action{
    display: inline-block;
    /* чтобы ширина была по самому широкому элементу */
}
.section-hero__btn-description{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* для отступа текста от кнопки */
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color:#787878;
}
.section-hero__ssl-icon{
    display: inline-block;
    width: 13px;
    height: 17px;
    margin-right: 10px;
    background: url(../img/Shield-icon.svg) center center no-repeat transparent;
    /* пусть до картинки, центр по ширине, центр по высоте, без повторения, на прозрачном фоне */
    background-size: contain;
    /* чтобы иконка не выходила за границы */
    transform: translateY(-2px);
    /* сдвинуть иконку вверх на два пикселя */
}

/* WHAT WE DO */

.section-do{
    padding-top: 140px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e4e4e4
}
.section-description{
    margin-top: 0;
    font-size: 16px;
    line-height: 1.3;
    color: #787878;
}
.section-do-list{
    margin-top: 50px;
    display: flex;
    /* чтобы стало горизонтально */
}
.section-do-item{
    flex: 1 1 25%;
    /* разрешаем расти, разрешаем сжиматься, занять 1/4 экрана */
    /* outline: 3px solid red; */
    /* для визуализации, аутлайн не влияет на размер блока в отличие от бордерс */
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
    /* для перехода нескольких элементов */
}
.section-do-item:not(:last-child){
    margin-right: 30px;
}
.section-do-item-heading{
    margin-top:18px;
    margin-bottom: 20px;
    font-size:20px ;
    line-height: 1;
    font-weight: 600;
}
.section-do-item:hover{
    background-color: #3172b9;
    color: white;
    cursor:pointer;
}
.section-do-item:hover .section-do-item-description{
    color :white;
}
.section-do-item:hover .section-do-icon path{
    fill:white;
}
.section-do-icon{
    margin-right: 0;
}
.section-do-icon path{
    transition: fill 0.3 ease;
}
.section-do-item-description{
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
    color: #787878;
    transition: color .3s ease;
}

/* CLIENTS */

.section-clients{
    padding-top: 90px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e4e4e4
}
.section-clients-heading{
    margin-bottom: 45px;
}
.section-clients-list{
    display: flex;
}
.section-clients-list-item{
    flex: 1 1 33.33%;
    padding: 50px 35px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* для прижатия текста и иконки к верху и к низу*/
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}
.section-clients-list-item:not(:last-child){
    margin-right: 30px;
}
.section-clients-testimonial{
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #787878;
}
.section-clients-user{
    display: flex;
    align-items: center;
    padding-top: 28px;
    border-top: 1px solid #e9e9e9;
}
.section-clients-avatar{
    width: 60px;
    height: 60px;
    margin-right:15px;
    border: 2px solid #3172b9;
    border-radius: 50%;
    /* Для скругления квадрата до круга */
}
.section-clients-username{
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color:#1c1c1c;

}
.section-clients-user-description{
    font-size: 14px;
    line-height: 25px;
    color:#787878;
}

/* CONTACTS */
.section-contacts{
    padding-top: 85px;
    padding-bottom: 95px;
    border-bottom: 1px solid #e4e4e4;
}
.section-contacts-list{
    display: flex;
    margin-top: 43px;
}
.section-contacts-item{
    flex: 1 1 33.33%;
}
.section-contacts-info{
    max-width: 250px;
}
.section-contacts-icon{
    display: block;
    /* тк span изначально инлайн, делаем блок 
    чтобы иконка занимала всю ширину строки и имела блочное поведение
    и был перенос строки */
    height: 30px;
    margin-bottom: 25px; 
    background-repeat: no-repeat;
    /* чтобы изображение не повторялось */
    background-position: center left;
    background-size: auto 100%;
    background-color: transparent;
    /* для прозрачного заднего фона */
}
.section-contacts-icon-gps{
    background-image: url(/img/gps.png);
}
.section-contacts-icon-phone{
    background-image: url(/img/phone.png);
}
.section-contacts-icon-mail{
    background-image: url(/img/mail.png);
    background-size:  auto 19px;
}
.section-contacts-heading{
    display: block;
    /* чтобы применить марджин, strong по умолчанию инлайн (не применяются марджины) */
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1;
    color: #1c1c1c;
}
.section-contacts-info{
    font-size: 14px;
    line-height: 25px;
    color:#787878;
}
.section-contacts-link{
    color:#787878

}
/* FORM */
.form-title{
    /* font-style: 36px;
    line-height: 21px; */
    text-align: center;
    color: #1c1c1c
}
.form-description{
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #787878;
}
.form{
    display:flex;
    justify-content: space-between;
    margin-top: 58px;
}
.input, 
.btn-submit{
    flex: 0 0 calc(25%-15px);
    height: 60px;
    border-radius: 30px;   
}
.input{
    padding: 0 30px;
    border: 1px solid #dadada;
    border-radius: 30px;
    /* цвет для текста вводимыхсимволов */
}
.input::placeholder{
    color:#787878
    /* цвет для текста внутри форм */
}

/* FOOTER */
.footer{
    height: 125px;
}
.footer-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 100%;
}
.footer-left{
    display: flex;
    align-items: center;
}
.footer-right{
    display:flex;
    align-items: center;
}
.footer-logo{
    margin-right:25px;
}
.footer-copyrights{
    font-size:12px;
    line-height: 17px;
    color:#787878;
}
.footer-nav{
    margin-right: 55px;
}
.footer-nav-list{
    display: flex;
}
.footer-nav-link{
    color: #787878;
}
.footer-nav-item:not(:last-child) {
    margin-right: 35px;
}
.footer-nav-item{
    font-size: 14px;
    line-height: 1;
    /* потому что нет переноса строки */
}
.footer-social-list{
    display: flex;
    align-items: center;
}
.footer-social-item:not(:last-child){
    margin-right: 30px;
}
.footer-social-icon{
    display: inline-block;
    /* тк иконка span и бэкграунд-имейдж */
    background-size:contain ;
    /* чтобы иконка полностью поместилась без обрезаний */
    background-repeat: no-repeat;
    background-color: transparent;
}
.footer-social-icon-twitter{
    width: 18px;
    height: 15px;
    background-image: url('../img/Twitter.svg');
    /* не появится без размера */
}
.footer-social-icon-in{
    width: 18px;
    height: 19px;
    background-image: url('../img/Linkedin.svg');
}
.footer-social-icon-email{
    width: 24px;
    height: 18px;
    background-image: url('../img/Email.svg');
}